/* Add a black background color to the top navigation */
.topnav {
  background-color: #cc6699;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 27px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #999999;
  color: white;
} 
tritle{
  background-color: #cc6699;
  color: white;
  text-align: left;
  vertical-align: center;
}
